$background: #F4DECB;

$menu_background: #94618E;
$menu_selected_background: #492741;
$menu_highlight: #000000;
$menu_new: #000000;

$header_background: #F8EEE7;
$header_color: #000000;
$footer_background: #F8EEE7;
$footer_color: #000000;

$button_background: #F8EEE7;
$button_color: white;

$warning_button_background: #94618E;
$warning_button_color: white;


/*
$background: #F5EEF3;
$menu_background: #74ADAF;
$menu_selected_background: #5D8B8C;
$menu_highlight: #55898C;
$menu_new: #7D3519;
$button_background: #8c6b83;
$button_color: white;
$warning_button_background: #7D3519;
$warning_button_color: white;
*/