$background: #F4DECB;

$menu_background: #94618E;
$menu_selected_background: #492741;
$menu_highlight: #000000;
$menu_new: #000000;

$header_background: #c48dbd;
$header_color: #000000;
$footer_background: #C48DBD;
$footer_color: #000000;

$button_background: #492741;
$button_color: white;

$warning_button_background: #94618E;
$warning_button_color: white;

$body_color: #000000;
$rule_color: #94618E;

$link_color: black;
$link_highlight_color: white;
$link_highlight_background: #492741;

$form_background: #F4C7A1;
