<h1>Privacy Policy</h1>

<p>If you log in using your Facebook or Googe account, all we'll see and store are your email address and name. That's it. We won't share it with anyone, we only use it to record your comments.</p>