div.modal {
  z-index: 100;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;

  &--background {
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
  }

  &--form {

    h1 { display: none; }

    position: absolute;
    background-color: $background;
    box-shadow: 0px 8px 32px rgba(0,0,0,0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 240px;
    @media (max-device-width:$break_width) {
      width: 90%;
    }
    opacity: 1;
    &:before {
      width: 100%;
      display: block;
      height: 6px;
      background-color: $menu_background;
      content: ' '
    }
  }
  &--close {
    position: absolute;
    display: block;
    top: 6px;
    right: 6px;
    height: 18px;
    font-size: 15px;
    @media (max-device-width:$break_width) {
      height: 36px;
      font-size: 30px;
    }
  }
}
