<h1>Rides</h1>
<ul>
  <% @rides.each do |ride| %>
    <li>
      <%= link_to ride.name, ride %>
    </li>
  <% end %>
  <li>
    <%= link_to 'New Ride', new_ride_log_ride_url %><br>
    <%= link_to 'Back', ride_log_path %><br>
  </li>
</ul>
</div>
