<div class='frame countdown'>

  <div class='timer_element'>
    <div class="timer_digit weeks">0</div>
    <div class="timer_desc">Weeks</div>
  </div>

  <div class='timer_element'>
    <div class="timer_digit days">0</div>
    <div class="timer_desc">Days</div>
  </div>

  <div class='timer_element'>
    <div class="timer_digit hours">0</div>
    <div class="timer_desc">Hours</div>
  </div>

  <div class='timer_element'>
    <div class="timer_digit minutes">0</div>
    <div class="timer_desc">Minutes</div>
  </div>

  <div class='timer_element'>
    <div class="timer_digit seconds">0</div>
    <div class="timer_desc">Seconds</div>
  </div>

</div>


<!--
<div class="countdown">
  <span class="weeks">0</span> weeks
  <span class="days">0</span> days
  <span class="hours">0</span> hours
  <span class="minutes">0</span> minutes
  <span class="seconds">0</span> seconds
  until race start
</div>
-->