<div class='frame countdown'>

  <div class='timer_element'>
    <div class="timer_digit weeks">0</div>
    <div class="timer_desc">Weeks</div>
  </div>

  <div class='timer_element'>
    <div class="timer_digit days">0</div>
    <div class="timer_desc">Days</div>
  </div>

  <div class='timer_element'>
    <div class="timer_digit hours">0</div>
    <div class="timer_desc">Hours</div>
  </div>

  <div class='timer_element'>
     <div class="timer_digit minutes">0</div>
    <div class="timer_desc">Minutes</div>
  </div>

  <div class='timer_element'>
    <div class="timer_digit seconds">0</div>
    <div class="timer_desc">Seconds</div>
  </div>
<!--
  <div class='feed'>

    <div class='feed_entry'>
      <div class='feed_title'>
        CTC Run - Mere
        <div class='feed_date'>
          Sunday 5th November
        </div>
      </div>
      <div class='feed_body'>
        We rode to Mere on Sunday, it was lush.
        <div class='feed_comment'>
          <div class='feed_comment_name'>
            Greg Shailes
          </div>
          I took my sporty bike and it got very muddy
        </div>
        <div class='feed_comment'>
          <div class='feed_comment_name'>
            Hannah Richards
          </div>
          I gave up!
        </div>
      </div>
    </div>

    <div class='feed_entry'>
      <div class='feed_title'>
        Cycling Adventure
        <div class='feed_date'>
          Saturday 4th November
        </div>
      </div>
      <div class='feed_body'>
        Greg fetched Hannah from Midford this afternoon
        <div class='feed_comment'>
          <div class='feed_comment_name'>
            Greg Shailes
          </div>
          I took my green bike
        </div>
      </div>
    </div>

  </div>
-->
</div>
