<p id="notice"><%= notice %></p>

<p>Primary Account
<% if @primary_account %>
  <strong><%= @primary_account.name %></strong></p>
<% else %>
  </p>
  <p>You need to set one of your accounts as the Primary account for its overview to appear here.</p>
<% end %>