<p id="notice"><%= notice %></p>

<h1>
  <%= @account.name %>
</h1>

<ul>
<% @transactions.each do |transaction| %>
  <li>
    <%= transaction.description %> | <%= link_to 'Edit', edit_finances_account_transaction_path(@account, transaction) %><br>
  </li>
<% end %>
</ul>