<table>
  <tr>
    <td>email</td>
    <td>first name</td>
    <td>last name</td>
    <td>admin?</td>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.is_admin? ? 'yes' : 'no' %></td>
    </tr>
  <% end %>
</ul>