<h1>Ride Log</h1>

<h2>Latest Ride</h2>
<p>
  <% if @latest_ride.nil? %>
    No rides have been recorded yet.
  <% else %>
    <%= @latest_ride.name %> on <%= @latest_ride.date.strftime("#{@latest_ride.date.day.ordinalize} %B %Y") %>
  <% end %>
</p>
<%= link_to 'Rides', ride_log_ride_index_path %><br>
<%= link_to 'Bikes', ride_log_bike_index_path %>
