$background:            rgb(40, 40, 50);

$h1_paper:              rgb(50, 50, 60);
$h1_ink:                rgb(190, 190, 200);
$h1_shine:              rgb(70, 70, 80);
$h1_shadow:             rgb(30, 30, 40);

$link_paper:            rgb(70, 70, 80);
$link_ink:              rgb(150, 150, 160);
$link_shine:            rgb(90, 90, 100);
$link_shadow:           rgb(50, 50, 60);

$link_highlight_paper:  rgb(60, 0, 0);
$link_highlight_ink:    white;

$spacer:                rgb(65, 65, 75);

