
// Green and red
$background_1:          #414141;
$background_2:          #000000;

$h1_paper:              #F24C4E;
$h1_ink:                #FFFFFF;

$link_paper:            #CCDFCB;
$link_ink:              #414141;

$link_highlight_paper:  #056571;
$link_highlight_ink:    #FFFFFF;

$spacer:                #056571;

$text_box_paper:        #FFFFFF;
$text_box_ink:          #414141;


/*
// Yellow and green
$background:            #EAB126;

$h1_paper:              #1B7B34;
$h1_ink:                #FFFFFF;

$link_paper:            #1FB58F;
$link_ink:              #FFFFFF;

$link_highlight_paper:  #F24C4E;
$link_highlight_ink:    #000000;

$spacer:                #EAB126;

$text_box_paper:        #1FB58F;
$text_box_ink:          #FFFFFF;
*/

/*
// Original
$background:            rgb(40, 40, 50);

$h1_paper:              rgb(50, 50, 60);
$h1_ink:                rgb(190, 190, 200);

$link_paper:            rgb(70, 70, 80);
$link_ink:              rgb(150, 150, 160);

$link_highlight_paper:  rgb(60, 0, 0);
$link_highlight_ink:    white;

$spacer:                rgb(65, 65, 75);

$text_box_paper:        rgb(70, 70, 80);
$text_box_ink:          rgb(150, 150, 160);
*/