body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Avenir", "Gill Sans", "Helvetica", "Arial", sans-serif;
  font-size: 21px;
  text-align: left;
  background-color: black;
  background-image: asset-url('greghome-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 1800px;
}

.countdown {
  padding: 0 15px;
}

h1 {
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 5px;
  width: 100%;
  font-size: 1em;
  display: inline-block;
  font-weight: bold;
  color: $h1_ink;
  border-bottom: 3px solid $h1_paper;
  text-align: left;
}

a {
  text-align: left;
  padding: 0;
  color: $link_ink;
  text-decoration: none;
  display: inline;
  font-size: 1em;
  height: 25px;
  position: relative;
  transition: color .4s;
  &:after {
    content: "";
    border-bottom: 3px solid $link_paper;
    position: absolute;
    bottom: 0;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width .4s;
  }
  &:visited {
    color: $link_ink;
  }
  &:hover, &:focus {
    text-decoration: none;
    color: $link_highlight_ink;
  }
  &:focus {
    outline: none;
  }

}
li:hover a:after{
  width: 100%;
}

button.GoogleButton {
  width: 0;
  margin: 0;
  padding: 0;
  height: 0;
  border: none;
  overflow: hidden;
  position: absolute;
}

div.valigner {
  margin: auto;
  display: inline-block;
}

div.valigner div.QuickLinksPanel {
  float: left;
}

div.googleSearch {
  text-align: center;
}

div.center {
  text-align: center;
  width: 100%;
}

input.googleSearch {
  height: 3em;
  color: transparent;
  text-shadow: 0 0 0 $text-box-ink;
  background: none;
  border: none;
  display: block;
  width:100%;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  outline: none;
  text-indent: 0px;
  text-align: center;
}

input.googleSearch::placeholder {
  color: transparent;
  text-shadow: 0 0 0 $link-ink;
}

div.QuickLinks {
  display: inline-block;
  margin: 0px auto;
}

div.QuickLinksPanel {
  margin: 0.5em;
  padding: 0;
  border: none;
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0 10px;
  border-bottom: 1px solid black;
}

li {
  margin: 0;
  padding: 5px 0;
  display: block;
  text-align: left;
}

div.LineBreak {
  height: 0.5em;
  margin-top: 0.5em;
  background: none;
  border-top: 1px solid gray;
}

@media screen and (max-width:620px) {
  body, a {
    font-size: 36px;
  }

  div.QuickLinks {
    width: 80%;
  }

  div.QuickLinksPanel {
    float: none;
    width: 100%;
  }
}

div.countdown {
  text-align: center;
  font-size: 14px;
  color: silver;
}

span.seconds, span.minutes, span.hours, span.days, span.weeks {
  color: white;
  font-weight: bold;
}

div.denied, div.run-away {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

div.denied {
  background-image: image-url("go-away-now.jpg");
}

div.run-away {
  background-image: image-url("382.png");
}

div.denied-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:50px;
  background-color: black;
  color: silver;
  font-size: 0.8em;
  vertical-align: middle;
}

div.denied-footer a, div.denied-footer a:visited {
  margin: 0;
  padding: 20px;
  display: inline;
  background-color: $h1_paper;
  color: $h1_ink;
}

div.denied-footer a:hover {
  background-color: $link_paper;
  color: $link_ink;
}