$background: #F5F3EE;

$menu_background: #74AFAD;
$menu_selected_background: #5D8C8B;
$menu_highlight: #558C89;
$menu_new: #7D1935;

$header_background: #558C89;
$header_color: white;
$footer_background: #558C89;
$footer_color: white;

$button_background: #8c836b;
$button_color: white;

$warning_button_background: #7D1935;
$warning_button_color: white;

$body_color: #000000;
$rule_color: #5D8C8B;

$modal_background: $background;
$modal_header: rgb(192,0,0);