body {
  margin: 0;
  font-family: "Avenir", "Gill Sans", "Helvetica", "Arial", sans-serif;
  width: 100%;
  height: 100vh;
  background: -webkit-linear-gradient($background_1, $background_2);
  background: -o-linear-gradient($background_1, $background_2);
  background: -moz-linear-gradient($background_1, $background_2);
  background: linear-gradient($background_1, $background_2);
  background-image: image-url("ratrace-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 1800px;
  background-color: $background_1;
  text-align: center;
  font-size:18px;
  @media (max-width:641px) {
    background-image: image-url("ratrace-background-mobile.jpg");
    font-size: 25px;
  }
}

main {
  width: 640px;
  margin: auto;
  padding: 0;
}

.frame {
  padding: 0;
  margin: 10px 0 0 0;
  display: inline-block;
  width: 640px;
}
.countdown {
  background: $dark;
  border-radius: 12px;
  color: white;
}

.center {
  text-align: center;
}

.left-align {
  text-align: left;
}

.panel {
  background-color: $darkest;
  margin: 0px 5px 10px 5px;
  padding: 20px;
  border-radius: 12px;
  color: white;
  font-weight:  bold;
  font-size: 1.2em;
}

.admin_tools {
  text-align: center;
  margin-top: 10px;
  padding: 3px;
  background-color: $dark;
  opacity: 1;
  border-radius: 12px;
  font-size: 0.8em;
  color: white;
  min-width: 600px;
}

.admin_tools a, a:visited {
  color: white;
  text-decoration: none;
  padding: 0 12px;
  background-color: $darker;
  border-radius: 6px;
}

.admin_tools a:hover {
  background-color: $darkest;
}

.intro {
  margin: 5px;
}

.intro, .edit_posts_list li a {
  text-align: left;
  padding: 10px 40px;
  background-color: $darker;
  color: white;
  border-radius: 12px;
  font-size: 1em;
}

.collapsed p, .collapsed img
{
  display: none;
}

.intro h1 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.intro h1:after {
  display: block;
  content: '(Click to hide)';
  font-size: 0.7em;
  font-weight: normal;
}

.collapsed h1:after {
  display: block;
  content: 'Click to find out!';
  font-size: 0.7em;
  font-weight: normal;
}

.intro a {
  font-weight: bold;
}
.intro a:visited {
  color: white;
}
.intro a:hover {
  color: white;
}
