@import "font-awesome";

.feed {
  text-align: left;
}

.feed_entry {
  margin-top: 10px;
}

.feed_title {
  margin: 5px 5px 0 5px;
  padding: 10px;
  border-radius: 12px 12px 0 0;
  background-color: $darkest;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
}

.feed_date {
  font-size: 0.6em;
  font-weight: regular;
  color: silver;
}

.feed_body {
  margin: 0 5px 5px 5px;
  padding: 10px;
  border-radius: 0 0 12px 12px;
  background-color: $darker;
  color: white;
}

.feed_body p {
  margin: 0 0 12px 0;
}

.feed_image {
  text-align: center;
  text-align: center;
  padding-bottom: 40px;
}

.feed_image img {
  max-width:500px;
  -webkit-box-shadow: 0px 0px 26px 5px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 26px 5px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 26px 5px rgba(0,0,0,0.7);
  -ms-transform: rotate(3deg); /* IE 9 */
  -webkit-transform: rotate(3deg); /* Safari */
  transform: rotate(3deg);
  border-radius: 12px;
}

.alternate img {
  -ms-transform: rotate(-4deg); /* IE 9 */
  -webkit-transform: rotate(-4deg); /* Safari */
  transform: rotate(-4deg);
}

.feed_comment {
  margin: 10px 0 0 30%;
  padding: 5px 25px;
  background-color: $light;
  border-radius: 12px;
}

.feed_comment_name {
  display: inline;
  opacity: 0.8;
}

.feed_comment_when {
  font-size:0.8em;
  opacity: 0.5
}

.feed_add_comment {
  text-align: right;
  background: none;
  margin-top: 6px;
}

a.delete_comment {
  background: none;
  font-weight: normal;
  padding: 5px;
  margin: 0;
  transition: color 0.5s;
  display: block;
  vertical-align: top;
  float: right;
}

a.delete_comment:hover {
  background: none;
  color: black;
}

a.delete_comment:before {
  font-family: FontAwesome;
  content: '\f00d';
}

div.login_to_comment {
  font-size: 0.7em;
  font-weight: normal;
  text-align: right;
}

div.login_to_comment a {
  padding: 3px;
  margin: 0;
}

.comment_box {
  border: none;
  font-size: 1em;
  padding: 6px 20px;
  background-color: $light;
  color: white;
  border-radius: 12px;
  width: 50%;
}
::-webkit-input-placeholder { /* Chrome */
  color: white;
  opacity: 0.7;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
  opacity: 0.7;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 0.7;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 0.7;
}
.tick_btn  {
  padding: 6px;
  border-radius: 6px;
  border: none;
  font-size: 0.7em;
  background-color: $darker;
  color: white;
}

