
.timer_element {
  padding: 5px;
  margin: 0;
  width: 118px;
  float: left;
}

.timer_digit {
  background-color: $darker;
  font-size: 4em;
  font-weight: bold;
  color: white;
  line-height: 1;
  border-radius: 10px 10px 0 0;
  padding: 10px 0;
}

.timer_desc {
  background-color: $dark;
  font-size: 1.2em;
  color: white;
  border-radius: 0 0 10px 10px;
}

