
<h1>BorisCam</h1>
	<div><h2 id="stopstart">Click to STOP slideshow</h2></div>
	<div id="slideshow">
		<div id="carousel">
			<% @images.each do |image| %>
				<%= ('<img src="data:image/jpg;base64,%s">' % Base64.encode64(image.filedata)).html_safe %>
			<% end %>
		</div>
		<a href="#" class="navLink" id="prev"><%= image_tag("prev.png") %></a>
		<a href="#" class="navLink next" id="next"><%= image_tag("next.png") %></a>
	</div>
