<div class="center">

  <div class="googleSearch">
		<form action="https://www.google.co.uk/search" name=f id=f target="_blank">
			<input name=hl type=hidden value=en />
			  <button type="submit" class="GoogleButton">Search</button>
					<input maxlength=2048 name=q id=q class="googleSearch" title="Google Search" placeholder="Google..." value="" />
				</div>
		</form>
	</div>

	<div class="countdown">
	  Rat Race starts in
	  <span class="weeks">0</span> weeks
	  <span class="days">0</span> days
	  <span class="hours">0</span> hours
	  <span class="minutes">0</span> minutes
	  <span class="seconds">0</span> seconds
	</div>

	<div class="valigner">

		<div class="QuickLinksPanel">
			<h1>Coherent</h1>
			<ul>
				<li><a href="http://hq.coherent.dev" target="_blank">Local Dev</a></li>
				<li><a href="http://hq.edge.coherent.work" target="_blank">Edge</a></li>
				<li><a href="http://hq.coherent.work" target="_blank">Production</a></li>
			</ul>
			<ul>
				<li><a href="https://github.com/Coherentwork/coherent/wiki" target="_blank">Wiki</a></li>
			</ul>
			<ul>
				<li><a href="https://github.com/Coherentwork/Coherent" target="_blank">Github</a></li>
				<li><a href="https://semaphoreci.com/simpleweb/coherent-2" target="_blank">Semaphore CI</a></li>
			</ul>
			<ul>
				<li><a href="https://3.basecamp.com/3209127/projects" target="_blank">Basecamp</a></li>
				<li><a href="https://trello.com/b/0on8mpTi/greg" target="_blank">Trello</a></li>
				<li><a href="https://zapier.com/app/dashboard" target="_blank">Zapier</a></li>
				<li><a href="https://home.saltoks.com/app/dashboard/" target="_blank">Salto KS</a></li>
			</ul>
		</div>

		<div class="QuickLinksPanel">
			<h1>Ruby</h1>
			<ul>
				<li><a href="https://github.com/gdshailes" target="_blank">My Github</a></li>
				<li><a href="https://ide.c9.io/gdshailes/" target="_blank">Cloud9 IDE</a></li>
				<li><a href="https://dashboard.heroku.com/login" target="_blank">Heroku</a></li>
			</ul>
		</div>

		<div class="QuickLinksPanel">
			<h1>Personal</h1>
			<ul>
				<li><a href="https://www.fuelly.com/dashboard" target="_blank">Fuelly</a></li>
			</ul>
			<ul>
		    <li><a href="finances/accounts" target="_blank">Finances</a></li>
				<li><a href="https://www.halifax-online.co.uk/personal/logon/login.jsp" target="_blank">Halifax</a></li>
				<li><a href="https://www.bankcardservices.co.uk/NASApp/NetAccessXX/WelcomeScreen?country=uk&language=en&org=1" target="_blank">MBNA</a></li>
				<li><a href="https://we-are-coherent-limited.autoenrolment.co.uk" target="_blank">Coherent Pension</a></li>
			</ul>
			<ul>
				<li><a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">GMail</a></li>
				<li><a href="http://www.google.com/calendar" target="_blank">Calendar</a></li>
				<li><a href="http://maps.google.co.uk" target="_blank">Google Maps</a></li>
			</ul>
			<ul>
				<li><a href="https://www.facebook.com/messages/t/jo.shailes" target="_blank">FB Messenger</a></li>
				<li><a href="http://www.ebay.co.uk" target="_blank">Ebay</a></li>
			</ul>
			<ul>
				<li><a href="diary_entry" target="_blank">Diary</a></li>
				<li><a href="ratrace" target="_blank">Rat Race</a></li>
			</ul>
		</div>

	</div>

</div>