<nav>
  <ul>
    <li>
      Coherent
      <ul>
        <li><a href="http://hq.coherent.dev" target="_blank">Local Dev</a></li>
        <li><a href="http://hq.edge.coherent.work" target="_blank">Edge</a></li>
        <li><a href="http://hq.stage.coherent.work" target="_blank">Staging</a></li>
        <li><a href="http://hq.coherent.work" target="_blank">Production</a></li>
        <li class='break' />
        <li><a href="https://github.com/Coherentwork/Coherent" target="_blank">Github</a></li>
        <li><a href="https://semaphoreci.com/we-are-coherent-limited/coherent" target="_blank">Semaphore CI</a></li>
        <li><a href="https://mycloud.rackspace.co.uk/?ref=UK" target="_blank">Rackspace</a></li>
        <li><a href="https://app.bugsnag.com/user/sign_in/" target="_blank">Bugsnag</a></li>
        <li class='break' />
        <li><a href="https://github.com/Coherentwork/coherent/wiki" target="_blank">Wiki</a></li>
        <li class='break' />
        <li><a href="https://trello.com/b/0on8mpTi/greg" target="_blank">Trello</a></li>
        <li><a href="https://skaas-accept.my-clay.com/login" target="_blank">Salto KS</a></li>
        <li><a href="https://zapier.com/app/dashboard" target="_blank">Zapier</a></li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      My Code
      <ul>
        <li><a href="diary_entry" target="_blank">Diary</a></li>
        <li><a href="decision/new" target="_blank">Make a Decision</a></li>
        <li><a href="verify_the_pie/new" target="_blank">Verify The Pie</a></li>
        <li><a href="http://localhost:3000" target="_blank">localhost:3000</a></li>
        <li class='break' />
        <li><a href="https://github.com/gdshailes" target="_blank">My Github</a></li>
        <li><a href="https://semaphoreci.com/gdshailes/greghome" target="_blank">My Semaphore</a></li>
        <li><a href="https://ide.c9.io/gdshailes/" target="_blank">Cloud9 IDE</a></li>
        <li><a href="https://dashboard.heroku.com/login" target="_blank">Heroku</a></li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      Money
      <ul>
        <li><a href="finances/accounts" target="_blank">Finances</a></li>
        <li><a href="https://www.halifax-online.co.uk/personal/logon/login.jsp" target="_blank">Halifax</a></li>
        <li><a href="https://www.bankcardservices.co.uk/NASApp/NetAccessXX/WelcomeScreen?country=uk&language=en&org=1" target="_blank">MBNA</a></li>
        <li><a href="https://we-are-coherent-limited.autoenrolment.co.uk" target="_blank">Coherent Pension</a></li>
        <li><a href="https://login.xero.com/?username=greg%40coherent.work" target="_blank">Xero - payslips</a></li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      Fitness
      <ul>
        <li><a href="https://www.facebook.com/v2.7/dialog/oauth?access_type=offline&client_id=284597785309&redirect_uri=https%3A%2F%2Fwww.strava.com%2Fo_auth%2Ffacebook&response_type=code&scope=email&state=%7B%22context%22%3A%22facebook_web_signin_v2%22%2C%22state%22%3A%22eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdGF0ZV9wYXJhbSI6bnVsbH0.OkuxIgM74dkZudoQHhtChBj9xXMG7N4e_TtWTq4KfEA%22%7D" target="_blank">Strava</a></li>
        <li><a href="https://connect.garmin.com/modern/" target="_blank">Garmin Connect</a></li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      Misc
      <ul>
        <li><a href="https://www.bbc.co.uk/weather/2649024" target="_blank">BBC Weather</a></li>
        <li><a href="https://www.facebook.com/messages/t/jo.shailes" target="_blank">FB Messenger</a></li>
        <li><a href="http://www.ebay.co.uk" target="_blank">Ebay</a></li>
        <li><a href="http://maps.google.co.uk" target="_blank">Google Maps</a></li>
        <li><a href="https://www.fuelly.com/dashboard" target="_blank">Fuelly</a></li>

        <li><a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">GMail</a></li>
        <li><a href="http://www.google.com/calendar" target="_blank">Calendar</a></li>
      </ul>
    </li>
  </ul>
</nav>

<form action="https://www.google.co.uk/search" name=f id=f target="_blank">
  <input name=hl type=hidden value=en />
    <button type="submit" class="GoogleButton">Search</button>
      <input maxlength=2048 name=q id=q class="googleSearch" title="Google Search" placeholder="Google..." value="" />
  </div>
</form>
