<form action="http://www.google.co.uk/search" name=f id=f>
	<div class="QuickLinks">
		<div class="QuickLinksPanel" style="float:none;">
			<h1>Search with Google</h1>
			<ul>
				<li>
					<div >
						<input name=hl type=hidden value=en />
						<input maxlength=2048 name=q id=q class="googleSearch" title="Google Search" value="" />
						<button type="submit" class="GoogleButton">Go</button>
					</div>
				</li>
			</ul>
		</div>
		<div class="QuickLinksPanel">
			<h1>Coherent/SimpleWeb</h1>
			<ul>
				<li><a href="https://basecamp.com/1759582/">BaseCamp</a></li>
				<li><a href="http://hq.coherent.dev">Coherent - Local Dev</a></li>
				<li><a href="http://hq.edge.coherent.work">Coherent - Edge</a></li>
				<li><a href="https://trello.com/b/0on8mpTi/greg">Trello</a></li>
				<li><a href="https://github.com/Coherentwork/Coherent">Coherent Github repositories</a></li>
				<li><a href="https://github.com/Coherentwork/coherent/wiki">Coherent Wiki</a></li>
				<li><a href="https://semaphoreci.com/simpleweb/coherent-2">Semaphore CI</a></li>
				<li><a href="https://zapier.com/app/dashboard">Zapier</a></li>
			</ul>
			<!--<h1>Chillicustard</h1>
			<ul>
				<li><a href="https://webmail.webfusion.co.uk/login/">Chillicustard Email</a></li>
				<div class="LineBreak"> </div>
				<li><a href="http://www.myserverworld.net/authlogin.aspx">MyServerWorld</a></li>
				<li><a href="http://www.hosting-status.pipex.net/">Pipex System Status</a></li>
			</ul>-->
			<h1>Ruby</h1>
			<ul>
				<li><a href="https://github.com/gdshailes">My Github repositories</a></li>
				<li><a href="https://ide.c9.io/gdshailes/">Cloud9 IDE</a></li>
				<li><a href="https://dashboard.heroku.com/login">Heroku</a></li>
			</ul>
		</div>
		<div class="QuickLinksPanel" style="float:left;">
			<h1>Personal</h1>
			<ul>
				<li><a href="https://www.halifax-online.co.uk/personal/logon/login.jsp">Halifax</a></li>
				<li><a href="https://www.bankcardservices.co.uk/NASApp/NetAccessXX/WelcomeScreen?country=uk&language=en&org=1">MBNA</a></li>
				<div class="LineBreak"> </div>
				<li><a href="https://www.outlook.com">Outlook (Hotmail)</a></li>
				<li><a href="https://mail.google.com/mail/u/0/#inbox">GMail</a></li>
				<li><a href="http://www.google.com/calendar">Calendar</a></li>
				<li><a href="http://maps.google.co.uk">Google Maps</a></li>
				<div class="LineBreak"> </div>
				<li><a href="https://www.facebook.com">Facebook</a></li>
				<li><a href="http://www.ebay.co.uk">Ebay</a></li>
				<div class="LineBreak"> </div>
				<li><a href="boriscam">BorisCam</a></li>
				<li><a href="ride_log">RideLog</a></li>
				<div class="LineBreak"></div>
				<li><a href="http://192.168.127.76:8888/">Bob the Fourth</a></li>
			</ul>
		</div>
	</div>
</form>
