	<div class="QuickLinks">
		<div class="QuickLinksPanel">
			<h1>Welcome!</h1>
			<ul>
				<li><a href="boriscam">BorisCam</a></li>
        <li><a href="diary_entry">Diary</a></li>
        <li><a href="finances/accounts">Finances</a></li>
        <li><a href="greghome">Greg Home</a></li>
			</ul>
		</div>
	</div>
</form>
