	<div class="QuickLinks">
		<div class="QuickLinksPanel">
			<h1>
        <div class="countdown">
          <span class="weeks">0</span> weeks
          <span class="days">0</span> days
          <span class="hours">0</span> hours
          <span class="minutes">0</span> minutes
          <span class="seconds">0</span> seconds
          until Rat Race start
        </div>
      </h1>
			<ul>
				<li><a href="boriscam">BorisCam</a></li>
        <li><a href="diary_entry">Diary</a></li>
        <li><a href="finances/accounts">Finances</a></li>
        <li><a href="greghome">Greg Home</a></li>
			</ul>
		</div>
	</div>
</form>
