// Place all the styles related to the Greg controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:  http: //sass-lang.com/

$width: 250px;
$body_margin: 2em;
$background: #F5F3EE;
$menu_background: #74AFAD;
$menu_highlight: #558C89;
$menu_new: #7D1935;
$button_background: #8c836b;
$button_color: white;
$warning_button_background: #7D1935;
$warning_button_color: white;

body{
  margin: 0;
  padding: 0;
  color: black;
  background-color: $background;
  font-family: "Avenir", "Gill Sans", "Helvetica", "Arial", sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
}

nav.menu {
  background-color: $menu_background;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $width;
  & ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
  }
  & li {
    display: block;
    &.new {
      background-color: $menu_new;
      & a:hover {
        background-color: black;
        color: white;
      }
    }
  }
  & a {
    margin: 0;
    padding: 0.5em;
    text-decoration: none;
    display: block;
    font-size: 14px;
    height: 25px;
    transition: background-color 0.75s;
    color: white;
    &:visited {
      color: white;
    }
    &:hover {
      background-color: $menu_highlight;
    }
  }
}

div.page {
  width: 100%;
  padding-left: $width;
  box-sizing: border-box;
}

main {
  margin: 25px;
  & h1 {
    font-size: 20px;
  }
  & div.buttons {
    text-align: right;
    width: 100%;
    & .command-button {
      font-size: 16px;
      background-color: $button_background;
      opacity: 0.8;
      color: $button_color;
      display: inline-block;
      text-decoration: none;
      padding: 12px;
      margin-left: 0px;
      text-align: center;
      line-height: 15px;
      min-width: 100px;
      vertical-align: middle;
      border: none;
      border-radius:6px;
      transition: opacity 0.5s, border 0.5s;
      border: 1px solid $background;

      &:hover {
        opacity: 1;
        border: 1px solid black;
      }
    }
    & .warning {
      background-color: $warning_button_background;
    }
  }
}

div.input {
  & label {
    display: block;
    font-weight: bold;
    font-size: 18px;
    padding:18px 0 0 0;
  }
  & input {
    height: 1.8em;
    font-size: 18px;
    border: none;
    width: 100%;
  }
  & textarea {
    height: 300px;
    width: 100%;
    resize: none;
    border: none;
    font-size: 18px;
  }
}
