@import 'finances/colours';
@import 'base.scss';


a {
  text-decoration: none;
  color: $link_color;
  transition: color 0.5s, background-color 0.5s;
  &.ticked-checkbox {
    padding: 0 0.5em;
    &:before {
      font-family: FontAwesome;
      content: '\f046';
      padding-right: 0.5em;
      color: $rule_color;
    }
  }
  &.unticked-checkbox {
    padding: 0 0.5em;
    &:before {
      font-family: FontAwesome;
      content: '\f096';
      padding-right: 0.5em;
      color: $rule_color;
    }
  }
  &:visited {
    color: $link_color;
  }
  &:hover {
    color: $link_highlight_color;
    background-color: $link_highlight_background;
  }
}

form.simple_form {
  padding: 1em;
  & input.string, input.numeric {
    background-color: $background;
    border: 1px solid $rule_color;
    padding: 0 12px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: $base_font;
  }
  & div.form-actions {
    padding-top: 18px;
    text-align: right;
  }
}


.field-wrapper {

  margin-top: 18px;

  .input-type--select {
    position: relative;
    max-width: 200px;
    select {
      height: 44px;
      padding: 0 48px 0 8px;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: $background;
      border: 1px solid $rule_color;
      border-radius: 0;
      width: 100%;
      font-size: 18px;
    }

    &:after {
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
      font-family: 'FontAwesome';
      font-size: 24px !important;
      content: "\f13a";
      color: $rule_color;
      pointer-events: none;
    }
    &.inline { display: inline-block; }
  }

  &__input {
    .input-type--checkbox {
      margin-top: 18px;
      display: inline-block;
      input {
        position: absolute;
        top: 32px;
        bottom: 16px;
        left: 16px;
        opacity: 0;
        z-index: -1;
      }
      label {
        display: inline-block;
        min-width: 180px;
        border: 1px solid $rule_color;
        position: relative;
        padding: 8px 8px 8px 42px;
        line-height: 1.5em;
        font-size: 18px;
        &:after {
          position: absolute;
          top: 9px;
          left: 10px;
          font-family: 'FontAwesome';
          font-size: 24px !important;
          content: "\f10c";
          opacity: 1;
          color: $rule_color;
          transition: opacity 0.5s
        }
      }
      .checkbox {
        margin-right: 12px;
      }
      input:checked + label {
        opacity: 1; border-color: $rule_color !important;
        transition: opacity 0.5s
      }
      input:checked + label:after {
        content: "\f111";
        opacity: 1;
        transition: opacity 0.5s
      }
      input:focus + label {
        outline: -webkit-focus-ring-color auto 5px;
        outline-offset: -2px;
      }
    }
  }
}


div.transactions-table {
  display: table;
  border-bottom: 1px solid $rule_color;
  margin-bottom: 1em;
}

.table-row {
  display: table-row;
}

div.table-row-header {
  @extend .table-row;
  border-bottom: 1px solid $rule_color;
  font-weight: bold;
}

a.table-row {
  @extend .table-row;
  padding: 0 15px;
  text-decoration: none;
  border: none;
  color: $body_color;
  transition: background-color 0.5s, color 0.5s;
  &:visited {
    color: $body_color;
  }
  &:hover {
    background-color: $menu_background;
    color: white;
  }
  &.upcoming-bill {
    font-style: italic;
    opacity: 0.5;
  }
  &.reconciled {
    &:after {
      font-family: FontAwesome;
      content: "\f00c"
    }
  }
}

span.table-cell {
  display: table-cell;
  padding: 0 15px;
  &.header {
    border-bottom: 1px solid $rule_color;
  }
  &.amount {
    text-align: right;
    &:before {
      content: '£';
      color: $menu_background;
    }
  }
  &.deposit {
    font-weight: bold;
  }
}

