// Place all the styles related to the Greg controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body
{
	color: white;
	font-family: Tahoma, serif;
	background-color: rgb(40, 40, 40);
	font-size: 10px;
	text-align: center;
}
@media all and (max-width:500px)
{
	body
	{
		font-size: 20px;
	}
}

h1
{
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px;
	width: 100%;
	color: rgb(190,190,190);
	font-size: 1em;
	display: inline-block;
	font-weight:bold;
	background-color:rgb(50,50,50);
}

a {
	padding:5px;
	color:rgb(190,190,190);
	text-decoration:none;
	display:block;
}

a:visited {
	color:rgb(190,190,190);
}
a:hover {
	color:white;
	background-color:rgb(60,0,0);
	text-decoration: none;
}
a:not(:hover) {
	color:rgb(190,190,190);
	text-decoration: none;
}

button {
	background-color: rgb(90,90,90);
	border-width: 0;
	width: 10%;
	height: 2em;
	color: black;
	text-decoration: none;
	float: right;
	display: inline;
	font-size:1em;
}

button:visited {
	color: rgb(190,190,190);
}

button:hover {
	background-color:rgb(60,0,0);
	color: white;
	text-decoration: none;
	animation-name:fadeIn;
	animation-duration:0.5s;
}

button:not(:hover) {
	background-color:rgb(90,90,90);
	color: white;
	text-decoration: none;
	animation-name:fadeOut;
	animation-duration:0.5s;
}

.googleSearch {
	width: 88%; height: 2em;color: white; background-color: rgb(90,90,90); border: none; font-size: 1.2em; padding: 0; margin: 0;
}
div.QuickLinks {
	display:inline-block;
	margin:0px auto;
}
div.QuickLinksPanel {
	margin: 0.5em;
	padding: 0;
	border: 0;
	text-align: left;
	float: left;
	background-color: rgb(70, 70, 70);
}
ul {
	list-style: none; margin: 0px; padding: 0px;
}
ul.subPane {
	padding-right: 1em; float: left;
}
li {
	margin: 0; padding: 0; display: block;
}
div.LineBreak{
	border-bottom:1px solid rgb(90,90,90);
	height:1px;
}