div.modal {
  z-index: 100;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;

  &--background {
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
  }

  &--form {
    position: absolute;
    background-color: $background;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 240px;
    @media (max-device-width:$break_width) {
      min-width: 90%;
    }
    opacity: 1;
    &:before {
      width: 100%;
      display: block;
      height: 12px;
      background-color: $menu_background;
      content: ' '
    }
  }

}