
$dark:    #445546;
$darker:  #223327;
$darkest: #001105;
$light:   #667777;
$background_1: #b7bdbb;
$background_2: #7f752c;
$opacity: 0.8;

body {
  margin: 0;
  font-family: "Avenir", "Gill Sans", "Helvetica", "Arial", sans-serif;
  width: 100%;
  height: 100vh;
  background-image: image-url("ratrace-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 1800px;
  background-color: $background_1;
  text-align: center;
  font-size:18px;
  @media (max-width:641px) {
    background-image: none;
    background: -webkit-linear-gradient($background_1, $background_2);
    background: -o-linear-gradient($background_1, $background_2);
    background: -moz-linear-gradient($background_1, $background_2);
    background: linear-gradient($background_1, $background_2);
    font-size: 25px;
  }
}

.frame {
  padding: 0;
  margin: 20px 0 0 0;
  display: inline-block;
  width: 640px;
}


.timer_element {
  padding: 5px;
  margin: 0;
  width: 118px;
  height: 120px;
  float: left;
}

.timer_digit {
  background-color: $darker;
  font-size: 4em;
  font-weight: bold;
  color: white;
  opacity: $opacity;
  line-height: 1;
  border-radius: 10px 10px 0 0;
  padding: 10px 0;
}

.timer_desc {
  background-color: $dark;
  font-size: 1.2em;
  color: white;
  opacity: $opacity;
  border-radius: 0 0 10px 10px;
}

.intro {
  text-align: left;
  margin: 150px 5px 5px 5px;
  @media (max-width:641px) {
    margin-top: 180px;
  }
  padding: 10px 40px;
  background-color: $darker;
  opacity: $opacity;
  color: white;
  border-radius: 12px;
  font-size: 1em;
}

.collapsed p
{
  display: none;
}

.intro h1 {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.intro h1:after {
  display: block;
  content: '(Click to hide)';
  font-size: 0.7em;
  font-weight: normal;
}

.collapsed h1:after {
  display: block;
  content: 'Click to find out!';
  font-size: 0.7em;
  font-weight: normal;
}

.intro a {
  font-weight: bold;
}
.intro a:visited {
  color: white;
}
.intro a:hover {
  color: white;
}

.feed {
  text-align: left;
}

.feed_entry {
  margin-top: 10px;
}

.feed_title {
  margin: 5px 5px 0 5px;
  padding: 10px;
  border-radius: 12px 12px 0 0;
  background-color: $darkest;
  opacity: $opacity;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
}

.feed_date {
  font-size: 0.6em;
  font-weight: regular;
  color: silver;
}

.feed_body {
  margin: 0 5px 5px 5px;
  padding: 10px;
  border-radius: 0 0 12px 12px;
  background-color: $darker;
  opacity: $opacity;
  color: white;
}

.feed_comment {
  margin: 10px 0 0 30%;
  padding: 5px 25px;
  background-color: $light;
  border-radius: 12px;
}

.feed_comment_name {
  font-weight: bold;
  display: inline;
}

.feed_comment_name:after {
  font-weight: normal;
  content: ' \201C';
}

.feed_comment:after {
  content: ' \201C';
}
