
$dark:    #444444;
$darker:  #222222;
$darkest: #000000;
$light:   #666666;
$opacity: 0.8;

body {
  margin: 0;
  font-family: "Avenir", "Gill Sans", "Helvetica", "Arial", sans-serif;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: image-url("ratrace-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 1800px;
  background-color: gray;
  text-align: center;
}

.frame {
  padding: 0;
  margin: 20px 0 0 0;
  display: inline-block;
  width: 600px;
  min-width: 600px;
}

.timer_element {
  padding: 5px;
  margin: 0;
  width: 110px;
  height: 120px;
  float: left;
}

.timer_digit {
  background-color: $darker;
  font-size: 5em;
  font-weight: bold;
  color: white;
  opacity: $opacity;
  line-height: 1;
  border-radius: 6px;
}

.timer_desc {
  background-color: $dark;
  margin-top: 5px;
  font-size: 1.5em;
  color: white;
  opacity: $opacity;
  border-radius: 6px;
}

.intro {
  text-align: left;
  margin: 150px 5px 5px 5px;
  padding: 10px 40px;
  background-color: $darker;
  opacity: $opacity;
  color: white;
  border-radius: 12px;
  font-size: 18px;
}

.collapsed p
{
  display: none;
}

.intro h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.intro h1:after {
  display: block;
  content: '(Click to hide)';
  font-size: 14px;
  font-weight: normal;
}

.collapsed h1:after {
  display: block;
  content: 'Click to find out!';
  font-size: 14px;
  font-weight: normal;
}

.intro a {
  font-weight: bold;
}
.intro a:visited {
  color: white;
}
.intro a:hover {
  color: white;
}

.feed {
  text-align: left;
}

.feed_entry {
  margin-top: 10px;
}

.feed_title {
  margin: 5px 5px 0 5px;
  padding: 10px;
  border-radius: 12px 12px 0 0;
  background-color: $darkest;
  opacity: $opacity;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.feed_date {
  font-size: 12px;
  font-weight: regular;
  color: silver;
}

.feed_body {
  margin: 0 5px 5px 5px;
  padding: 10px;
  border-radius: 0 0 12px 12px;
  background-color: $darker;
  opacity: $opacity;
  color: white;
}

.feed_comment {
  margin: 10px 0 0 30%;
  padding: 5px 25px;
  background-color: $light;
  border-radius: 12px;
}

.feed_comment_name {
  font-weight: bold;
  display: inline;
}

.feed_comment_name:after {
  font-weight: normal;
  content: ' \201C';
}

.feed_comment:after {
  content: ' \201C';
}
