html {
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 100%;
}

body {
  box-sizing: border-box;
  margin: 10%;
  padding: 0;
  height: 80%;
  background-color: black;
  font-size: 21px;
}

div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: none;
  &#welcome {
    h1 { color: $bright_white }
    .button { color: $bright_white }
  }
  &#paper {
    height: 100%;
    font-family: "Avenir", "Gill Sans", "Helvetica", "Arial", sans-serif;
    color: silver;
    text-align: center;
  }
  &#get-ready,#too-slow,#new-best {
    position: absolute;
    box-shadow: 0px 8px 32px rgba(0,0,0,0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    vertical-align: middle;
    background: rgb(255, 255, 0);
    text-align: center;
    color: $red;
    padding-top: 30px;
  }
  &#play { color: $black; }
  &#pies { color: $red; }
  &#game-buttons { margin-top: 30px; }
  &#results {
    color: $black;
    & div.button {
      line-height: 80px;
    }
  }
  &#retry {
    margin-bottom: 0px;
  }
}

.button {
  box-sizing: border-box;
  display: inline;
  width: 120px;
  padding: 8px;
  cursor: pointer;
  border: 1px solid;
  &:hover {
    padding: 7px;
    border: 2px solid;
  }
}

table#results {
  font-size: 0.8em;
  margin: 20px 0;
  td { text-align: left; }
}

.hidden { display: none; }

.yellow {
  background-color: $yellow;
  color: $black;
}

.red {
  background-color: $red;
  color: $white;
}

.green {
  background-color: $green;
  color: $black;
}