<h1>
  <span><%= @account.name %></span>Edit Transaction
</h1>

<%= simple_form_for @transaction_form, url: finances_account_transaction_path(@account, @transaction_form.transaction), method: :patch do |f| %>
  <%= render partial: 'form', finances_transaction: @transaction, locals: {f: f} %>
  <%= link_to 'Delete', finances_account_transaction_path(@account, @transaction), method: :delete, data: { confirm: 'Are you sure?' }, class: 'warning command-button' %>
<% end %>
