<h1><%= @entry.entry_date %></h1>

<%= f.input :title, label: 'Title' %>

<div class='input'><label>Body</label>
  <%= md_simple_editor do %>
    <%= f.input :body, label: false %>
  <% end %>
</div>
