<div id='paper'>
  <div id='welcome'>
    <h1>Verify the Pie or Not</h1>
    <p>You have the enviable position of being quality control at a pie factory.
      Unfortunately the pie machine is faulty and makes the occasional bad pie.
      Each pie has two fillings. If you spot a pie with all food fillings then click 'Zero'.
      Click 'One' if half the pie is bad, and click 'Two' if both fillings are bad.
      You are also subject to an audit so your statistics are being recorded.
    </p>
    <div id='start' class='button'>Start</div>
  </div>

  <div id='get-ready' class='hidden'>
    <span>Get Ready</span>
  </div>

  <div id='new-best' class='hidden'>
    <span>New Best Time!</span>
  </div>

  <div id='wrong-guess' class='hidden'>
    You can't eat <span></span>
  </div>

  <div id='too-slow' class='hidden'>
    <span>Too Slow</span>
  </div>

  <div id='play' class='hidden'>
    <div id='pies'>
      <div><%= image_tag 'pie.png' %></div>
      <div id='pie-name'><span id='ingredient_1'></span> AND <span id='ingredient_2'></span> PIE</div>
    </div>

    <div id='game-buttons' class='enabled'>
      <span class='button' data-pie-quality-guess='0'>Zero</span>
      <span class='button' data-pie-quality-guess='1'>One</span>
      <span class='button' data-pie-quality-guess='2'>Two</span>
    </div>


    <table id='results'>
      <tr>
        <td>Time:</td>
        <td><div id='score-time'></div></td>
      </tr>
      <tr>
        <td>Pies:</td>
        <td><div id='score-pies'></div></td>
      </tr>
      <tr>
        <td>Best:</td>
        <td><div id='score-best'></div></td>
      </tr>
      <tr>
        <td>Fails:</td>
        <td><div id='score-fails'></div></td>
      </tr>
      <tr>
        <td>Tries:</td>
        <td><div id='score-tries'></div></td>
      </tr>
      <tr>
        <td>Mean:</td>
        <td><div id='score-mean'></div></td>
      </tr>
    </table>
    <div id='stop' class='button'>I QUIT</div>

  </div>

  <div id='results' class='hidden'>
    <ul>
      <li>You <span id='results-end-reason'></span> after <span id='results-total-time'></span> seconds.</li>
      <li>You correctly identified <span id='results-right'></span> pies.</li>
      <li>Your quickest identification took <span id='results-best-time'></span> seconds.</li>
      <li>Your average pie identification time is <span id='results-mean'></span> seconds.</li>
      <li id='results-best-pie' class='hidden'>Your mostly quickly identified pie was:<br><span id='best-pie'></span>.</li>
      <li id='win' class='hidden'>You really have too much time on your hands.</li>
    </ul>
    <div id='retry' class='button'></div>
  </div>

</div>