<div id='paper'>
  <div id='welcome'>
    <h1>Verify the Pie or Not</h1>
    <p>You have the enviable position of being quality control at a pie factory.
      Unfortunately the pie machine is faulty and makes the occasional bad pie.
      Each pie has two fillings. If you spot a pie with all food fillings then click 'Zero'.
      Click 'One' if half the pie is bad, and click 'Two' if both fillings are bad.
      You are also subject to an audit so your statistics are being recorded.
    </p>
    <div id='start' class='button'>Start</div>
  </div>

  <div id='get-ready' class='hidden'>
    Get Ready!
  </div>

  <div id='play' class='hidden'>
    <div id='pies'>
      <div><%= image_tag 'pie.png' %></div>
      <span id='ingredient_1'></span> AND <span id='ingredient_2'></span> PIE
    </div>

    <div id='game-buttons' class='enabled'>
      <span class='button' data-pie-quality-guess='0'>Zero</span>
      <span class='button' data-pie-quality-guess='1'>One</span>
      <span class='button' data-pie-quality-guess='2'>Two</span>
    </div>

    <div id='new-best' class='hidden'>New Best!</div>

    <table id='results'>
      <tr>
        <td>Time:</td>
        <td><div id='score-time'></div></td>
      </tr>
      <tr>
        <td>Pies:</td>
        <td><div id='score-pies'></div></td>
      </tr>
      <tr>
        <td>Best:</td>
        <td><div id='score-best'></div></td>
      </tr>
      <tr>
        <td>Fails:</td>
        <td><div id='score-fails'></div></td>
      </tr>
      <tr>
        <td>Tries:</td>
        <td><div id='score-tries'></div></td>
      </tr>
      <tr>
        <td>Mean:</td>
        <td><div id='score-mean'></div></td>
      </tr>
    </table>
    <div id='stop' class='button'>I QUIT</div>

  </div>

  <div id='results' class='hidden'>
    <div>You <span id='results-end-reason'></span> after <span id='results-total-time'></span> seconds.</div>
    <div>You correctly identified <span id='results-right'></span> pies.</div>
    <div>Your quickest identification took <span id='results-best-time'></span> seconds.</div>
    <div>Your average identification took <span id='results-mean'></span> seconds.</div>
    <div id='retry' class='button'>Rats.</div>
  </div>

</div>