<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title>
      Sign In
    </title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=500">
    <%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
