<!DOCTYPE html>
<html>
  <head>
    <title>Greg</title>
    <%= csrf_meta_tags %>
		<title>
			Greg's Home Page
		</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<script src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
	<script>
		$('document').ready(function(){



		})
	</script>
  </head>

	<body>
    <%= yield %>
  </body>
</html>
