<h1>Bikes</h1>
<ul>
  <% @bikes.each do |bike| %>
    <li>
    <%= link_to bike.name, bike %>
    </li>
  <% end %>
  <li>
  <%= link_to 'New Bike', new_ride_log_bike_url %><br>
  <%= link_to 'Back', ride_log_path %>
  </li>
</ul>
